<script>
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();

  import { talkStatusOpts } from "../../stores/enums";

  import Unsplash from "../helpers/unsplash.svelte";

  export let thisTalk,
    isLoading = false,
    btnSaveText = "Save",
    btnSaveDisable = false,
    showCancel = false,
    abstractRows = 10,
    showCoverImg = false;

  let files;
  // #18: Validation on this side?

  function handleKeydown(event) {
    if (event.key === "Escape") dispatch("cancel");
  }
</script>

<svelte:window on:keydown="{handleKeydown}" />

<div class="field">
  <label class="label" for="txtTalk">Talk</label>
  <div class="control">
    <input
      class="input"
      id="txtTalk"
      type="text"
      placeholder="Talk Title"
      bind:value="{thisTalk.title}"
      disabled="{isLoading}"
    />
  </div>
</div>

<div class="field">
  <label class="label" for="txtTagline">Tagline</label>
  <div class="control">
    <input
      class="input"
      id="txtTagline"
      type="text"
      placeholder="Talk Tagline"
      bind:value="{thisTalk.tagline}"
      disabled="{isLoading}"
    />
  </div>
</div>

<div class="field is-grouped">
  <div class="control">
    <label class="label" for="txtIcon">Icon</label>
    <input
      class="input"
      id="txtIcon"
      type="text"
      placeholder="🗣️"
      bind:value="{thisTalk.icon}"
      disabled="{isLoading}"
    />
  </div>
  <div class="control">
    <label class="label" for="selStatus">Status</label>
    <div class="select" id="selStatus">
      <select bind:value="{thisTalk.status}" disabled="{isLoading}">
        <option value=""></option>
        {#each talkStatusOpts as opt}
          <option value="{opt.value}">
            {opt.icon} &nbsp; {opt.text}
          </option>
        {/each}
      </select>
    </div>
  </div>
  <div class="control"></div>
  <div class="control">
    <label class="label" for="switchPublish">Publish</label>
    <div class="field">
      <input
        id="switchPublish"
        type="checkbox"
        name="switchPublish"
        class="switch is-rounded"
        bind:checked="{thisTalk.published}"
      />
      <label for="switchPublish"></label>
    </div>
  </div>
</div>

<div class="field">
  <label class="label" for="txtAbstract">Abstract</label>
  <textarea
    name="txtAbstract"
    class="textarea"
    placeholder="A short abstract about the talk"
    rows="{abstractRows}"
    bind:value="{thisTalk.abstract}"
    disabled="{isLoading}"></textarea>
</div>

{#if showCoverImg}
  <div class="columns">
    <div class="column is-5">
      <div class="field">
        <div class="control">
          <label class="label" for="coverimg">Cover Image</label>
          {#if thisTalk.coverImg}
            <img
              src="https://cfps-dot-dev-public.s3.us-east-1.amazonaws.com/{thisTalk.coverImg}"
              alt="Talk Abstract cover"
            />
          {/if}
          <div class="file has-name is-fullwidth">
            <label class="file-label">
              <input
                class="file-input"
                type="file"
                name="coverimg"
                bind:files
              />
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label"> Choose a file… </span>
              </span>

              <span class="file-name">
                {#if files && files[0]}
                  {files[0].name}
                {:else if thisTalk.coverImg}
                  {thisTalk.coverImgFriendlyName}
                {:else}
                  &nbsp;
                {/if}
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-2 has-text-centered">
      <label class="label" for="coverimg">or</label>
    </div>
    <div class="column is-5">
      {#if thisTalk.unsplashImg}
        <img src="{thisTalk.unsplashImg}" alt="Talk Abstract cover" />
      {/if}
      <Unsplash
        unsplashImg="{thisTalk.unsplashImg}"
        photographer="{thisTalk.photographer}"
        on:imageSet="{(e) => {
          thisTalk.unsplashImg = e.detail.unsplashImg;
          thisTalk.photographer = e.detail.photographer;
        }}"
      />
    </div>
  </div>
{/if}

<div class="field is-grouped is-grouped-centered">
  {#if showCancel}
    <button
      class="button control {isLoading ? 'is-loading' : ''}"
      on:click="{() => dispatch('cancel')}"
    >
      Cancel
    </button>
  {/if}
  <button
    class="button control is-success {isLoading ? 'is-loading' : ''}"
    on:click="{() => dispatch('save', { talk: thisTalk, files })}"
    disabled="{btnSaveDisable}"
  >
    {btnSaveText}
  </button>
</div>
