<script>
  import * as db from "../../lib/db";
  import { currentUser } from "../../stores/user";

  import Loading from "../loading.svelte";
  import TalkList from "./talkList.svelte";

  let theseTalks = [],
    isLoading = true;

  function loadTalks() {
    isLoading = true;

    db.talks.getAll($currentUser).then((ret) => {
      theseTalks = ret;
      theseTalks = theseTalks.filter((e) => e.data.published);
      theseTalks = db.utils.sortList(theseTalks, "order");
      setTimeout(() => {
        isLoading = false;
      }, 400);
    });
  }

  loadTalks();
</script>

{#if isLoading}
  <Loading />
{:else}
  <TalkList
    myTalks="{theseTalks}"
    showColumns="{['title', 'tagline', 'status']}"
    showReorder="{true}"
  />
{/if}
