<script>
  import { Link } from "svelte-navigator";
  import TalkCoverImage from "./talkCoverImg.svelte";

  import {
    getShortTalkAbstractSafe,
    getTalkAbstractSafe,
    getTalkURL,
  } from "../../lib/talkUtils";

  export let thisTalk;
  export let shortCode;

  let talkURL = getTalkURL(shortCode, thisTalk);

  let talkData = thisTalk?.data;
  let talkAbstract = getTalkAbstractSafe(thisTalk);
  let shortAbstract = getShortTalkAbstractSafe(thisTalk);
</script>

<div class="card">
  <Link to="{talkURL}">
    <TalkCoverImage {...talkData} />

    <div class="card-content talk">
      <div class="media media-fixed">
        {#if talkData.icon}
          <div class="media-left is-size-4 media-icon">
            <figure class="image is-48x48">
              {talkData.icon}
            </figure>
          </div>
        {/if}
        <div class="media-content">
          {#if talkData.title}
            <p class="title is-6">{talkData.title}</p>
          {/if}
          {#if talkData.tagline}
            <p class="subtitle is-7">{talkData.tagline}</p>
          {/if}
        </div>
      </div>

      {#if talkAbstract && false}
        <div class="content card-content-scrollable">
          {@html talkAbstract}
        </div>
      {/if}
    </div>
  </Link>
  <div class="card-footer">
    <!-- svelte-ignore a11y-invalid-attribute -->
    <span class="card-footer-item">
      <!-- TODO: tags -->
    </span>
    <!-- svelte-ignore a11y-missing-attribute -->
    <a
      class="card-footer-item"
      on:click="{() =>
        navigator.clipboard.writeText(`https://cfps.dev${talkURL}`)}"
    >
      <small>
        Copy &nbsp;
        <i class="fas fa-link"></i>
      </small>
    </a>

    <Link to="{talkURL}" class="card-footer-item">
      <small>
        More &nbsp;
        <i class="far fa-caret-square-right"></i>
      </small>
    </Link>
  </div>
</div>
