<script>
  import { navigate } from "svelte-navigator";
  import Breadcrumbs from "../../components/breadcrumbs.svelte";
  import ComingSoon from "../../components/ComingSoon.svelte";
  import Error from "../../components/Error.svelte";
  import FormTalk from "../../components/talks/formTalk.svelte";

  import Loading from "../../components/loading.svelte";
  import * as db from "../../lib/db";
  import { getSignedURL } from "../../lib/db/images";
  import { currentUser } from "../../stores/user";

  export let thisId;
  let isLoading = true,
    isSaving,
    isError,
    isDeleting,
    thisTalk,
    dbTalk,
    currTab = "Abstract";

  let tabs = ["Abstract", "Talk Details", "Submissions", "Advanced"];

  function loadTalk() {
    isLoading = true;
    // #14: Catch errors
    db.talks
      .getOne($currentUser, thisId)
      .then((ret) => {
        thisTalk = ret;
        if (!thisTalk.unsplashImg) thisTalk.unsplashImg = "";
        if (!thisTalk.photographer) thisTalk.photographer = {};
        dbTalk = ret;
      })
      .catch((e) => {
        isError = e;
        console.error(e);
      })
      .finally(() => {
        setTimeout(() => {
          isLoading = false;
          isSaving = false;
        }, 400);
      });
  }

  async function saveTalk(event) {
    isSaving = true;
    let { talk, files } = event.detail;
    let coverImg = "";
    let coverImgFriendlyName = "";
    if (files) {
      for (let i = 0; i < files.length; i++) {
        let thisFile = files[i];
        const signedURL = await db.images.getSignedURL($currentUser, thisFile);
        coverImg = signedURL.fileName;
        coverImgFriendlyName = thisFile.name;
        const uploaded = await db.images.uploadFile(signedURL, thisFile);
      }
    }

    talk = { ...talk, coverImg, coverImgFriendlyName };
    // #14: Catch errors
    db.talks.update($currentUser, thisId, talk).then((val) => {
      setTimeout(() => {
        loadTalk();
      }, 250);
    });
  }

  function deleteTalk() {
    isDeleting = true;
    setTimeout(() => {
      db.talks
        .deleteOne($currentUser, thisId)
        .then((ret) => {
          navigate("/home/talks/all");
        })
        .catch((e) => console.error(e));
    }, 250);
  }

  loadTalk();
</script>

{#if isLoading || isError}
  <Breadcrumbs crumbs="{[{ link: '/home/talks/all', name: 'All Talks' }]}" />
{/if}

{#if isLoading}
  <div class="box">
    <Loading />
  </div>
{:else if isError}
  <Error>
    Error loading this talk
    <br /><br />
    Message: <code>{isError.message}</code>
  </Error>
{:else}
  <Breadcrumbs
    crumbs="{[
      { link: '/home/talks/all', name: 'All Talks' },
      { name: thisTalk.title },
    ]}"
  />

  <section class="box">
    <div class="tabs">
      <ul>
        {#each tabs as tab}
          <li
            class="{tab === currTab ? 'is-active' : ''}"
            on:click="{() => (currTab = tab)}"
          >
            <!-- svelte-ignore a11y-missing-attribute -->
            <a>{tab}</a>
          </li>
        {/each}
      </ul>
    </div>

    {#if currTab === "Abstract"}
      <FormTalk
        thisTalk="{thisTalk}"
        isLoading="{isSaving}"
        abstractRows="20"
        showCoverImg="{true}"
        on:save="{saveTalk}"
      />
    {:else if currTab === "Submissions"}
      <!-- #12: Submissions -->
      <ComingSoon
        gitlabIssueURL="https://gitlab.com/liscioapps/cfps/-/issues/12"
      />
    {:else if currTab === "Advanced"}
      <h2 class="is-size-4">Additional Information</h2>
      <br />
      <div class="field is-grouped">
        <div class="control">
          <label class="label" for="txtSlug">Slug</label>
          <input
            class="input"
            id="txtSlug"
            type="text"
            placeholder="my-great-talk"
            bind:value="{thisTalk.slug}"
            disabled="{isSaving}"
          />
        </div>
        <div class="control">
          <label class="label" for="btnSave">&nbsp;</label>
          <button
            class="button control is-success {isSaving ? 'is-loading' : ''}"
            on:click="{() => saveTalk({ detail: thisTalk })}"
          >
            Save
          </button>
        </div>
      </div>
      <hr />
      <article class="message is-danger">
        <div class="message-header">
          <p>Delete Talk</p>
        </div>
        <div class="message-body">
          This will delete this talk forever. This cannot be reversed.
          <br /><br />
          <button
            class="button is-danger {isDeleting ? 'is-loading' : ''}"
            on:click="{deleteTalk}"
            disabled="{isDeleting}"
          >
            Delete forever
          </button>
        </div>
      </article>
    {/if}
  </section>
{/if}
