<script>
  import Loading from "../../components/loading.svelte";
  import TalkCoverImage from "../../components/talks/talkCoverImg.svelte";
  import OpenGraph from "../../components/helpers/OpenGraph.svelte";
  import * as db from "../../lib/db";
  import { getTalkAbstractSafe } from "../../lib/talkUtils";

  export let shortCode, talkId;
  let talkData,
    talkAbstract,
    isLoading = true;

  function loadTalk() {
    isLoading = true;
    db.talks
      .getOne(null, talkId)
      .then((val) => {
        talkData = val;
        talkAbstract = getTalkAbstractSafe({ data: talkData });
        setTimeout(() => {
          isLoading = false;
        }, 250);
      })
      .catch((e) => console.error(e));
  }

  loadTalk();
</script>

{#if talkData}
  <OpenGraph
    title="{talkData.title}"
    url="{window.location.href}"
    image="{talkData.coverImg}"
  />
{/if}

{#if isLoading}
  <div class="container">
    <br /><br /><br /><br />
    <Loading />
  </div>
{:else}
  <div class="container my-6">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="card">
          <TalkCoverImage {...talkData} showAttrib="{true}" />
          <div class="card-content">
            <div class="media">
              {#if talkData.icon}
                <div class="media-left is-size-2">
                  <figure class="image is-48x48">
                    {talkData.icon}
                  </figure>
                </div>
              {/if}
              <div class="media-content">
                {#if talkData.title}
                  <p class="title is-4">{talkData.title}</p>
                {/if}
                {#if talkData.tagline}
                  <p class="subtitle is-6">{talkData.tagline}</p>
                {/if}
              </div>
            </div>

            {#if talkAbstract}
              <h3 class="is-size-4 my-4">🗞️ Abstract</h3>
              <div class="content">
                {@html talkAbstract}
              </div>
            {/if}
            {#if false}
              <!-- #37; #38 - add slides, videos -->
              <h3 class="is-size-4 my-4">📰 Content</h3>
              <div class="columns">
                <div class="column">
                  <h4 class="is-size-5 my-2">📷 Slides</h4>
                </div>
                <div class="column">
                  <h4 class="is-size-5 my-2">📹 Video(s)</h4>
                </div>
              </div>
              <h3 class="is-size-4 my-4">🔊 Previous Events</h3>
            {/if}
          </div>
        </div>
      </div>
    </div>
  </div>
{/if}
