<script>
  import { onMount } from "svelte";
  import Icon from "../helpers/Icon.svelte";
  import copyData from "../../data/demo/copy.json";
</script>

<section id="demo">
  <!-- copy from google doc -->
  <div>
    <h1>{copyData.headline}</h1>
  </div>

  <div>
    <p>
      Hello svelter! Here is an inline svg icon:
      <!-- icon from tabler (see styling in global.css) -->
      <Icon name="feather" />
    </p>
  </div>

  <div>
    <p>An image from "public/assets"</p>
    <!-- image from public/assets -->
    <img alt="sad toast" src="assets/toast.png" />
  </div>
</section>

<style>
  section {
    padding: 1rem;
  }

  div {
    margin-bottom: 2rem;
  }

  img {
    width: 20rem;
  }

  td:nth-child(2),
  th:nth-child(2) {
    text-align: right;
    padding: 0.5em;
  }
</style>
