<script>
  import ComingSoon from "../components/ComingSoon.svelte";
  import PublicProfile from "../components/profile/publicProfile.svelte";
  import UserDetails from "../components/profile/userDetails.svelte";

  let tabs = [
    {
      title: "Public Profile",
      icon: "🗺️",
      key: "public",
    },
    {
      title: "Notifications",
      icon: "🔔",
      key: "notifications",
    },
    {
      title: "User Details",
      icon: "💻",
      key: "details",
    },
  ];
  let currTab = "public";
</script>

<div class="container-fluid my-6">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="is-size-3">Your Profile</h2>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <div class="tabs is-boxed">
    <ul>
      {#each tabs as thisTab}
        <li class="{currTab === thisTab.key ? 'is-active' : ''}">
          <!-- svelte-ignore a11y-missing-attribute -->
          <a on:click="{() => (currTab = thisTab.key)}">
            <span>
              {thisTab.icon}
              <span class="is-hidden-mobile">
                &nbsp;
                {thisTab.title}
              </span>
            </span>
          </a>
        </li>
      {/each}
    </ul>
  </div>

  {#if currTab === "public"}
    <PublicProfile />
  {:else if currTab === "notifications"}
    <ComingSoon
      gitlabIssueURL="https://gitlab.com/liscioapps/cfps/-/issues/11"
    />
  {:else if currTab === "details"}
    <UserDetails />
  {/if}
</div>
