<script>
  import { navigate, Link } from "svelte-navigator";
  import { sortList } from "../../lib/db/cfps";

  import { attendanceLookup, cfpStatusLookup } from "../../stores/enums";
  export let myCFPs = [];
  export let showColumns = [
    "event",
    "duedate",
    "attendance",
    "cfpstatus",
    "eventdates",
    "location",
    "virtual",
  ];
  let sortField;
  export let attendanceLong = true, cfpstatusLong = true;
</script>

<div id="cfp-list">
  <table class="table is-striped is-fullwidth is-hoverable my-4">
    <thead>
      <tr>
        {#if showColumns.includes("event")}
          <th>
            Event
            <button
              class="button is-small is-white"
              on:click="{() => (myCFPs = sortList(myCFPs, 'event'))}"
              ><span class="icon is-small"><i class="fas fa-sort"></i></span>
            </button>
          </th>
        {/if}

        {#if showColumns.includes("duedate")}
          <th>
            CFP Due
            <button
              class="button is-small is-white"
              on:click="{() => (myCFPs = sortList(myCFPs, 'duedate'))}"
              ><span class="icon is-small"><i class="fas fa-sort"></i></span>
            </button>
          </th>
        {/if}

        {#if showColumns.includes("attendance")}
          <th>
            Attendance
            <button
              class="button is-small is-white"
              on:click="{() => (myCFPs = sortList(myCFPs, 'attendance'))}"
              ><span class="icon is-small"><i class="fas fa-sort"></i></span>
            </button>
          </th>
        {/if}

        {#if showColumns.includes("cfpstatus")}
          <th>
            CFP Status
            <button
              class="button is-small is-white"
              on:click="{() => (myCFPs = sortList(myCFPs, 'cfpstatus'))}"
              ><span class="icon is-small"><i class="fas fa-sort"></i></span>
            </button>
          </th>
        {/if}

        {#if showColumns.includes("eventdates")}
          <th>
            Event Dates
            <button
              class="button is-small is-white"
              on:click="{() => (myCFPs = sortList(myCFPs, 'eventstart'))}"
              ><span class="icon is-small"><i class="fas fa-sort"></i></span>
            </button>
          </th>
        {/if}

        {#if showColumns.includes("recordingDue")}
          <th>
            Recording Due
            <button
              class="button is-small is-white"
              on:click="{() => (myCFPs = sortList(myCFPs, 'recordingDue'))}"
              ><span class="icon is-small"><i class="fas fa-sort"></i></span>
            </button>
          </th>
        {/if}

        {#if showColumns.includes("location")}
          <th class="is-hidden-mobile">
            Location
            <button
              class="button is-small is-white"
              on:click="{() => (myCFPs = sortList(myCFPs, 'location'))}"
              ><span class="icon is-small"><i class="fas fa-sort"></i></span>
            </button>
          </th>
        {/if}

        {#if showColumns.includes("virtual")}
          <th>
            Virtual
            <button
              class="button is-small is-white"
              on:click="{() => (myCFPs = sortList(myCFPs, 'virtual'))}"
              ><span class="icon is-small"><i class="fas fa-sort"></i></span>
            </button>
          </th>
        {/if}
      </tr>
    </thead>
    <tbody class="list">
      {#each myCFPs as thisCFP}
        <tr
          class="is-clickable"
          on:click="{() => navigate(`/home/event/${thisCFP.ref['@ref'].id}`)}"
        >
          {#if showColumns.includes("event")}
            <td>{thisCFP.data.event}</td>
          {/if}

          {#if showColumns.includes("duedate")}
            <td>{thisCFP.data.duedate}</td>
          {/if}

          {#if showColumns.includes("attendance")}
            <td>
              {#if thisCFP.data.attendance}
                <span class="tag">
                  {attendanceLookup(thisCFP.data.attendance).icon}
                  {#if attendanceLong}
                  <span class="is-hidden-mobile">
                    &nbsp;
                    {attendanceLookup(thisCFP.data.attendance).text}
                  </span>
                  {/if}
                </span>
              {:else}
                <span class="tag">?</span>
              {/if}
            </td>
          {/if}

          {#if showColumns.includes("cfpstatus")}
            <td>
              {#if thisCFP.data.cfpstatus}
                <span class="tag">
                  {cfpStatusLookup(thisCFP.data.cfpstatus).icon}
                  {#if cfpstatusLong}
                  <span class="is-hidden-mobile">
                    &nbsp;
                    {cfpStatusLookup(thisCFP.data.cfpstatus).text}
                  </span>
                  {/if}
                </span>
              {:else}
                <span class="tag">?</span>
              {/if}
            </td>
          {/if}

          {#if showColumns.includes("eventdates")}
            <td>
              {thisCFP.data.eventstart} - {thisCFP.data.eventend}
            </td>
          {/if}

          {#if showColumns.includes("recordingDue")}
            {#if thisCFP.data.recordingDue}
              <td>{thisCFP.data.recordingDue}</td>
            {:else}
              <td>?</td>
            {/if}
          {/if}

          {#if showColumns.includes("location")}
            <td class="is-hidden-mobile">
              {#if thisCFP.data.location}
                {thisCFP.data.location}
              {:else if thisCFP.data.virtual}
                ☁️ &nbsp; Virtual
              {/if}
            </td>
          {/if}

          {#if showColumns.includes("virtual")}
            {#if thisCFP.data.virtual}
              <td>Yes</td>
            {:else}
              <td>No</td>
            {/if}
          {/if}
        </tr>
      {/each}
    </tbody>
  </table>
</div>
