<footer class="footer page-footer">
  <div class="content" style="position: relative;">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <p>
            <a href="https://cfps.dev">
              <strong>CFPs.dev</strong>
            </a>
            made with 💜 &nbsp; by
            <a href="https://twitter.com/olearycrew" target="_blank">
              Brendan O'Leary
            </a>
            and maybe
            <a
              href="https://gitlab.com/liscioapps/cfps/-/tree/main"
              target="_blank"
            >
              you
            </a>
          </p>
        </div>
        <div class="level-item is-hidden-mobile">|</div>
        <div class="level-item">
          <p>
            <a
              href="https://gitlab.com/liscioapps/cfps/-/blob/main/LICENSE"
              target="_blank"
            >
              MIT licensed
            </a>
          </p>
        </div>
      </div>

      <div class="level-right">
        <div class="level-item">
          <a
            href="https://gitlab.com/liscioapps/cfps/"
            class="button is-warning is-light"
            target="_blank"
          >
            <i class="fab fa-gitlab"></i> &nbsp; Repo
          </a>
        </div>
        <div class="level-item">
          <a
            href="https://gitlab.com/liscioapps/cfps/-/issues/new?issue%5Bmilestone_id%5D="
            class="button is-link is-light"
            target="_blank"
          >
            Open an Issue
          </a>
        </div>
        <div class="level-item">
          <a
            href="https://www.buymeacoffee.com/olearycrew"
            target="_blank"
            class="has-text-centered"
          >
            <img
              src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png"
              alt="Buy Me A Coffee"
              style="height: 45px !important;"
            />
          </a>
        </div>
      </div>
    </nav>
  </div>
</footer>
