<script>
  import { Link, useLocation } from "svelte-navigator";
  import { currentUser, isLoggedIn } from "../stores/user";
  import { topLevelNav, mainNav } from "../stores/nav";
  import { version } from "../../package.json";
  import NavItem from "./nav/navItem.svelte";
  const location = useLocation();

  let isWorking = false;
  let openMenu = false;
  let thisLoc;

  function logmeout() {
    isWorking = true;
    netlifyIdentity.logout();
    setTimeout(() => {
      isWorking = false;
    }, 1500);
  }

  $: {
    thisLoc = $location;
    openMenu = false;
  }
</script>

<nav class="navbar is-info">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        src="/assets/logoonly.png"
        alt="CFPs tracking software"
        height="28"
      />
      <span class="is-size-5 ml-3"> CFPs.dev </span>
    </a>
    <div
      class="navbar-burger {openMenu ? 'is-active' : ''}"
      data-target="navMenuColordanger-example"
      on:click="{() => (openMenu = !openMenu)}"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div
    id="navMenuColordanger-example"
    class="navbar-menu {openMenu ? 'is-active' : ''}"
  >
    {#if $isLoggedIn}
      <div class="navbar-start">
        <Link to="/home" class="navbar-item">Home</Link>

        {#each topLevelNav as topNavItem}
          <div class="navbar-item has-dropdown is-hoverable">
            <NavItem
              extraCSS="navbar-link"
              useLong="{false}"
              thisItem="{topNavItem}"
            />
            <div class="navbar-dropdown">
              <NavItem extraCSS="navbar-item" thisItem="{topNavItem}" />
              {#each mainNav[topNavItem.navKey] as navItem}
                <NavItem extraCSS="navbar-item" thisItem="{navItem}" />
              {/each}
            </div>
          </div>
        {/each}
      </div>
    {/if}

    <div class="navbar-end">
      <div class="navbar-item">
        <span class="tag is-light">Beta {version}</span>
      </div>
      {#if $isLoggedIn}
        <div class="navbar-item">
          <Link to="/profile" class="button is-outlined is-light">
            <span class="icon">
              <i class="fas fa-cog"></i>
            </span>
            <span> Profile</span>
          </Link>
        </div>
        <div class="navbar-item">
          <button
            class="button is-link {isWorking ? 'is-loading' : ''}"
            on:click="{logmeout}"
          >
            <span class="icon">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span> Logout </span>
          </button>
        </div>
      {:else}
        <div class="navbar-item">
          <button
            class="button is-warning"
            on:click="{() => netlifyIdentity.open('login')}"
          >
            <span class="icon">
              <i class="fas fa-sign-in-alt"></i>
            </span>
            <span> Login </span>
          </button>
        </div>
        <div class="navbar-item">
          <button
            class="button"
            on:click="{() => netlifyIdentity.open('signup')}"
          >
            <span class="icon">
              <i class="fas fa-user-plus"></i>
            </span>
            <span> Sign Up </span>
          </button>
        </div>
      {/if}
    </div>
  </div>
</nav>
