<svelte:head>
  <title>CFPs.dev</title>
  <!-- #22: Fill this all in -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="news_keywords" content="" />

  <meta name="robots" content="max-image-preview:large" />

  <link rel="canonical" href="" />
</svelte:head>
