<script>
  import { Link, useLocation } from "svelte-navigator";
  const location = useLocation();

  export let thisItem;
  export let extraCSS = "";
  export let useLong = true;
</script>

<Link
  to="{thisItem.path}"
  class="{$location.pathname === thisItem.path ? 'is-active' : ''} {extraCSS}"
>
  {thisItem.longName && useLong ? thisItem.longName : thisItem.shortName}
</Link>
